data/ENCODE*.bed
00_analysis*
.ipynb_checkpoints
MIAA_consensus
archive
build
chip_test
dist/
distribution_analysis/
encode_chip_analysis/
endoderm_development/
oct_sox_chip/
other_data/
plots/
results/
run_ChIP_DeepAccess.sh
run_MIAA_endoderm.sh
run_test_distributions.sh
run_transfer.sh
run_transfer_interpret.sh
run_unbalanced_interpret.sh
src/.keras/
src/DeepAccessAccess-predict-alt.py
src/DeepAccessTrainNew.py
test/
vis/
.keras/
MIAA_consensus.fa
__pycache__/